.heading {
  display: flex;
  justify-content: flex-end;
}

span {
  display: block;
}

.para_sub {
  font-size: 3.6rem;
  font-weight: 400;
}

.para_main {
  font-size: 7.2rem;
  text-align: right;
  margin-bottom: 3.5rem;
  font-weight: 500;
}