.navigation {
position: absolute;
top: 17rem;
left: 5rem;

font-size: 1.5rem;
text-transform: uppercase;
letter-spacing: 0.5rem;

&__list {
list-style: none;
}

&__items:not(:last-child) {
  margin-bottom: 4rem;
}

}