.navigation {
position: absolute;
top: 10rem;
left: 3rem;

font-size: 1rem;
text-transform: uppercase;
letter-spacing: 0.5rem;

&__list {
list-style: none;
}

&__items:not(:last-child) {
  margin-bottom: 3rem;
}

}